* {
  background-color: darkgrey;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

body {
  margin: 0 !important;
  padding: 0 !important;
  overflow: hidden !important;
}

header {
  margin: 0;
  flex: 0 50px;
  font-size: 20px;
  font-style: italic;
  background: hsl(223, 57%, 38%);
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
}

#navbar {
  display: flex;
  flex-direction: row;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: start;
  background-color: hsl(223, 57%, 38%);
  padding-left: 30px;
  padding-right: 30px;
}
.navlink {
  background-color: hsl(223, 57%, 38%);
  padding: 10px;
}
.link{
  background-color: hsl(223, 57%, 38%);
  color: azure;
}
main{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}
.game-container{
  position: relative;
  display: inline-block;

}
.background {
  width: 80vw;
  height: 80vh;
}
.brown-bar {
  position: absolute;
  bottom: 1px;
  width: 100%;
  height: 40px;
  background-color: #74663b;;
  z-index: 1;
}
.score{
  position: absolute;
  top: 1px;
  right: 50px;
  font-size: 40px;
  background-color: transparent;
  z-index: 1;
}
.dino{
  position: absolute;
  bottom: 40px;
  background-color: transparent;
  z-index: 1;
}
.animate{
  animation: jump .5s linear 0s;
}

.obstacle{
  position: absolute;
  bottom: 37px;
  right: 0;
  background-color: transparent;
  animation: block 1.3s infinite linear;
}

.players {
  flex: 1;
  width: 100%;
}

.player-name {
  color: greenyellow;
}

#player-messages {
  padding-top: 0.25em;
}

.event {
  color: yellow;
}

.player-event {
  color: purple;
}

.system-event {
  color: purple;
}

footer{
  flex: 0 50px; 
  margin-top: auto;
  background: hsl(180, 30%, 15%);
  display: flex;
  flex-direction: column;
  align-items: center;
  border: black solid thin;
}

#page-container {
  height: 100vh;
  min-height: 100%;
  overflow: scroll !important;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

#content-wrap {
  height: fit-content;
}

#footer {
  width: 100%;
}
.github {
  background-color: hsl(180, 30%, 15%);
  color: white;
}
@keyframes jump {
  0%{bottom: 40px;}
  30%{bottom: 200px;}
  70%{bottom: 200px;}
  100%{bottom: 40px;}
}

@keyframes block {
  0%{right: 0px;}
  100%{right:1500px;}
  
}