*{
  background-color: azure  ;
  color: black;
  font-style: italic;
}
body {
  margin: 0 !important;
  padding: 0 !important;
  overflow: hidden !important;
}
header {
  margin: 0;
  flex: 0 50px;
  font-size: 20px;
  font-family: fantasy;
  background: hsl(223, 57%, 38%);
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
}

#navbar{
  display: flex;
  flex-direction: row;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: start;
  background-color: hsl(223, 57%, 38%);
  padding-left: 30px;
  padding-right: 30px;
}

.navlink {
  background-color: hsl(223, 57%, 38%);
  padding: 10px;
}

.button  {
  background-color: hsl(223, 57%, 38%);
  color: azure;
}
.content {
    padding-left: 30px;
    padding-right: 30px;
}
p{
  font-size: 20px;
}
.picture{
  width: 100%;
  height: 100%;
  margin-left: 0 !important;
  margin-right: 0 !important;
}

#sunset{
  width: 100%;
  height: 100%;
  background-size: fill;
  background-repeat: no-repeat;
  background-position: center center;
}

footer{
  flex: 0 50px; 
  margin-top: auto;
  background: hsl(180, 30%, 15%);
  display: flex;
  flex-direction: column;
  align-items: center;
  border: black solid thin;
}

.github{
  background-color: hsl(180, 30%, 15%);
  color: white;
}

#page-container {
  height: 100vh;
  min-height: 100%;
  overflow: scroll !important;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

#content-wrap {
  height: fit-content;
}

#footer {
  width: 100%;
}