*{
    background-color: lightgoldenrodyellow;
    font-family: fantasy;
}
header {
    flex: 0 50px;
    font-size: 20px;
    background: hsl(223, 57%, 38%);
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
  }
div {
  padding: 0 0.5em;
  font-size: 40px;
  background-color: hsl(223, 57%, 38%);
  Color: white;
}
.button  {
  background-color: hsl(223, 57%, 38%);
  color: azure;
}
.prompt
{
    margin: auto;
    width: 500px; 
    height: 400px; 
    font-size: 30px;
    flex: 1;
    position: absolute; 
    background-color: azure;
    left: 0; 
    right: 0; 
    top: 0; 
    bottom: 0; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: solid thin black;
}
.login-title{
  background-color: azure;
}
.input{
  background-color: azure;
}
.list{
  background-color: azure;
}
.game-title{
  font-size: 50px;
  text-align: center;
  color: purple;
}
body {
    margin: 0;
  }

.github{
    background-color: hsl(180, 30%, 15%);
    color: white;
  }
footer{
    flex: 0 50px; 
    position: absolute;
    bottom: 0;
    width: 100%;
    background: hsl(180, 30%, 15%);
    
    display: flex;
    flex-direction: column;
    align-items: center;
    border: red solid thin;
  }
  @media (max-height: 700px){
    header {
      display: none;
    }
    footer {
      display: none;
    }
    .prompt {
      flex: 1 100vh;
    }
    .game-title{
      flex: 1 100vh;
    }
  } 
