*{
    background-color: azure;
}
header {
    flex: 0 50px;
    font-size: 20px;
    background: hsl(223, 57%, 38%);

    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
  }
div {
  padding: 0 0.5em;
  font-size: 40px;
  background-color: hsl(223, 57%, 38%);
  Color: white;
}
.button  {
  background-color: hsl(223, 57%, 38%);
  color: azure;
}
.prompt
{
    margin: auto;
    width: 300px; 
    height: 200px; 
    flex: 1;
    position: absolute; 
    left: 0; 
    right: 0; 
    top: 0; 
    bottom: 0; 

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: solid thin black;
}
.title{
  text-align: center;
}
body {
    margin: 0;
  }

.github{
    background-color: hsl(180, 30%, 15%);
    color: white;
  }
footer{
    flex: 0 50px; 
    position: absolute;
    bottom: 0;
    width: 100%;
    background: hsl(180, 30%, 15%);
    
    display: flex;
    flex-direction: column;
    align-items: center;
    border: red solid thin;
  }
