* {
    background-color: azure;
    color: black;
    font-style: italic;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

body {
    margin: 0 !important;
    padding: 0 !important;
    overflow: hidden !important;
}

header {
    margin: 0;
    flex: 0 50px;
    font-size: 20px;
    background: hsl(223, 57%, 38%);
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
}

#navbar {
    display: flex;
    flex-direction: row;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: start;
    background-color: hsl(223, 57%, 38%);
    padding-left: 30px;
    padding-right: 30px;
}

.navlink {
    font-family: fantasy !important;
    font-style: italic !important;
    background-color: hsl(223, 57%, 38%);
    padding: 10px;
}

.link {
    font-family: fantasy !important;
    background-color: hsl(223, 57%, 38%);
    color: azure;
}

.table-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}
.scoreBoard {
    width: 100vw;
    border-collapse: collapse;

}

.scoreBoard th,
.scoreBoard td {
    width: 100vw;
    padding: 8px;
    border: 1px solid black;
}

.scoreBoard th {
    background-color: black;
    color: white;
    font-weight: bold;
}
.scoreBoard td
{
    background-color: peachpuff;
    color: black;
    
}

footer {
    flex: 0 50px;
    margin-top: auto;
    background: hsl(180, 30%, 15%);
    display: flex;
    flex-direction: column;
    align-items: center;
    border: black solid thin;
}

.github {
    background-color: hsl(180, 30%, 15%);
    color: white;
    font-family: fantasy !important;
    font-style: normal !important;
}

#page-container {
    height: 100vh;
    min-height: 100%;
    overflow: scroll !important;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

#content-wrap {
    height: fit-content;
}

#footer {
    width: 100%;
}